@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Raleway";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sidebar-menu {
  display: grid;
  grid-template-rows: 30px 1fr;
  gap: 130px;
  position: absolute;
  width: 112px;
  height: 100dvh;
  border-radius: 0 24px 24px 0;
  padding: 18px 0;
  background: #7030A0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  overflow: auto;
  z-index: 2;
}
.sidebar-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.sidebar-menu__logo-icon {
  width: 36px;
  height: 30px;
}
.sidebar-menu__logo-text {
  display: none;
}
.sidebar-menu__toggle {
  outline: 0;
  border: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-menu__nav {
  height: 100%;
}
.sidebar-menu__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  list-style: none;
}
.sidebar-menu__items > :last-child {
  margin-top: auto;
}
.sidebar-menu__item .sidebar-menu__icon {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-menu__item.active .sidebar-menu__icon, .sidebar-menu__item:hover .sidebar-menu__icon {
  background: #552479;
}
.sidebar-menu__link {
  text-decoration: none;
  color: #FFFFFF;
}
.sidebar-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  width: 48px;
  height: 48px;
  border-radius: 11px;
}
.sidebar-menu__text {
  opacity: 0;
  font-size: 14px;
  font-weight: 500;
}
.sidebar-menu.expanded {
  width: 222px;
}
.sidebar-menu.expanded .sidebar-menu__toggle {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.sidebar-menu.expanded .sidebar-menu__logo-text, .sidebar-menu.expanded .sidebar-menu__text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.sidebar-menu.expanded .sidebar-menu__item {
  width: 100%;
  padding: 0 20px;
}
.sidebar-menu.expanded .sidebar-menu__link {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-menu.expanded .sidebar-menu__item:nth-child(1) .sidebar-menu__text {
  -webkit-transition-delay: 0.175s;
          transition-delay: 0.175s;
}

.sidebar-menu.expanded .sidebar-menu__item:nth-child(2) .sidebar-menu__text {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.sidebar-menu.expanded .sidebar-menu__item:nth-child(3) .sidebar-menu__text {
  -webkit-transition-delay: 0.325s;
          transition-delay: 0.325s;
}

.sidebar-menu.expanded .sidebar-menu__item:nth-child(4) .sidebar-menu__text {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.sidebar-menu.expanded .sidebar-menu__item:nth-child(5) .sidebar-menu__text {
  -webkit-transition-delay: 0.475s;
          transition-delay: 0.475s;
}

.sidebar-info {
  position: absolute;
  right: 0;
  width: var(--sidebar-info-width);
  height: 100dvh;
  background: #FFFFFF;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-info__container {
  width: 100%;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}
.sidebar-info__container > :not(:first-child) {
  margin-top: 40px;
}
.sidebar-info__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 92px;
  position: absolute;
  left: -40px;
  top: 60px;
  padding-left: 3px;
  border-radius: 30px 0 0 30px;
  -webkit-box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  z-index: 1;
}
.sidebar-info__toggle-button {
  outline: 0;
  border: 0;
  background: transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sidebar-info__profile {
  width: 100%;
  height: 48px;
  display: grid;
  grid-template-columns: 48px 1fr 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar-info__avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.sidebar-info__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-left: 24px;
}
.sidebar-info__name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #0E426F;
}
.sidebar-info__details {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #5FA1DA;
}
.sidebar-info__lock {
  outline: 0;
  border: 0;
  background: transparent;
}
.sidebar-info__stats {
  width: 100%;
  height: 76px;
  padding: 10px;
  border-radius: 19px;
  background: #E8F1F9;
}
.sidebar-info__stats-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar-info__stats-list > :not(:last-child) {
  border-right: 1px solid #A3C9EA;
}
.sidebar-info__stats-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar-info__stats-label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #A3C9EA;
}
.sidebar-info__stats-value {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #5FA1DA;
}
.sidebar-info__calendar {
  width: 100%;
  height: 96px;
}
.sidebar-info__calendar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}
.sidebar-info__calendar-month {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #0E426F;
}
.sidebar-info__calendar-days {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar-info__calendar-day {
  width: 40px;
  height: 74px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-info__calendar-day:hover {
  background-color: #1A79CB;
  cursor: pointer;
}
.sidebar-info__calendar-day:hover > * {
  color: #FFFFFF;
}
.sidebar-info__calendar-day:hover > *:nth-child(2)::after {
  background: #FFFFFF;
}
.sidebar-info__calendar-day-week {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #1666AC;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-info__calendar-day-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #6A7178;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-info__calendar-day--event > *:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #1A79CB;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-info__calendar-day--active {
  background: #1A79CB;
}
.sidebar-info__calendar-day--active > * {
  color: #FFFFFF;
}
.sidebar-info__calendar-day--active > *:nth-child(2)::after {
  background: #FFFFFF;
}
.sidebar-info__calendar-day:last-child > * {
  color: #DEE2E6;
}
.sidebar-info__events {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 24px;
}
.sidebar-info__events-item {
  width: 100%;
  padding: 24px 70px 24px 24px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  background: #E8F1F9;
}
.sidebar-info__events-item--match {
  background: #4263eb;
  -webkit-box-shadow: 0 6px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 8px 0px rgba(0, 0, 0, 0.1);
  background-image: url("../assets/event-backgrounds/medal.png");
  background-repeat: no-repeat;
  background-position: right 24px top 0;
  background-size: 150px auto;
}
.sidebar-info__events-item--match > * {
  color: #FFFFFF !important;
}
.sidebar-info__events-item--health {
  background-image: url("../assets/event-backgrounds/caduceus.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  background-size: 150px auto;
}
.sidebar-info__events-item--meditation {
  padding: 24px 70px 10px 24px;
  background-image: url("../assets/event-backgrounds/lotus.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  background-size: 150px auto;
}
.sidebar-info__events-item:not(:last-child) .sidebar-info__events-coach {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(147, 176, 200, 0.25);
  margin-bottom: 14px;
}
.sidebar-info__events-item--match:not(:last-child) .sidebar-info__events-coach {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
.sidebar-info__events-title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #0E426F;
}
.sidebar-info__events-time, .sidebar-info__events-coach {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #12548D;
}
.sidebar-info__events-arrow-button {
  outline: 0;
  border: 0;
  background: transparent;
  position: absolute;
  width: 48px;
  height: 40px;
  bottom: 0;
  right: 0;
  border-radius: 16px 0 0 0;
  background: #FFFFFF;
}
.sidebar-info__events-link {
  display: block;
  text-decoration: none;
  height: 26px;
  padding-left: 4px;
  padding-top: 6px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #009DDE;
}
.sidebar-info__events__section-title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #0E426F;
}

.container {
  --sidebar-info-width: 0px;
}
.container.info-expanded {
  --sidebar-info-width: 450px;
}
.container.info-expanded > .sidebar-info {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.container.info-expanded > .sidebar-info .sidebar-info__container {
  padding: 35px 50px;
}
.container.info-expanded > .sidebar-info .sidebar-info__toggle-button {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.dashboard {
  width: calc(100vw - var(--sidebar-info-width));
  height: 100dvh;
  background: #E8F1F9;
  border-radius: 51px;
  overflow-y: auto;
  z-index: 0;
}
.dashboard::-webkit-scrollbar {
  display: none;
}
.dashboard__content {
  width: min(95%, 1500px);
  padding: 70px 0 70px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}
.dashboard__search {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 6px;
  width: 514px;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(212, 227, 240, 0.8509803922);
  margin-bottom: 20px;
}
.dashboard__search-button {
  outline: 0;
  border: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  padding: 4px;
}
.dashboard__search-input {
  width: 100%;
  outline: 0;
  border: 0;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
}
@media screen and (min-width: 1440px) {
  .dashboard__search-input {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__search-input {
    font-size: 18px;
  }
}
.dashboard__search-input::-webkit-input-placeholder {
  color: #85a5c2;
}
.dashboard__search-input::-moz-placeholder {
  color: #85a5c2;
}
.dashboard__search-input:-ms-input-placeholder {
  color: #85a5c2;
}
.dashboard__search-input::-ms-input-placeholder {
  color: #85a5c2;
}
.dashboard__search-input::placeholder {
  color: #85a5c2;
}
.dashboard .metrics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.dashboard .metrics__item {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 16px;
  padding: 24px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dashboard .metrics__item__title {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 6px;
}
@media screen and (min-width: 1440px) {
  .dashboard .metrics__item__title {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard .metrics__item__title {
    font-size: 16px;
  }
}
.dashboard .metrics__item__value {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}
@media screen and (min-width: 1440px) {
  .dashboard .metrics__item__value {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard .metrics__item__value {
    font-size: 18px;
  }
}
.dashboard .metrics__item__chart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.dashboard .metrics__item__chart img {
  max-width: 190px;
}
.dashboard .metrics__item--concentration {
  background: #5fa1da;
}
.dashboard .metrics__item--stress {
  background: #c5b5f5;
}
.dashboard .metrics__item--activity {
  background: #eeadc4;
}
.dashboard .heart-rate {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.dashboard .heart-rate__item {
  width: 100%;
  aspect-ratio: 1.4;
  border-radius: 16px;
  padding: 24px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dashboard .heart-rate__item__title {
  color: #85a5c2;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .dashboard .heart-rate__item__title {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard .heart-rate__item__title {
    font-size: 18px;
  }
}
.dashboard .heart-rate__item__value {
  color: #59748a;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media screen and (min-width: 1440px) {
  .dashboard .heart-rate__item__value {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard .heart-rate__item__value {
    font-size: 16px;
  }
}
.dashboard .heart-rate__item__chart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.dashboard .heart-rate__item__chart img {
  max-width: 100%;
}
.dashboard .sessions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.dashboard .sessions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  aspect-ratio: 1.98;
  border-radius: 16px;
  padding: 24px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}
.dashboard .sessions__item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin-bottom: 10px;
}
.dashboard .sessions__item__title {
  width: 100px;
  text-align: center;
  color: #85a5c2;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
@media screen and (min-width: 1440px) {
  .dashboard .sessions__item__title {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard .sessions__item__title {
    font-size: 18px;
  }
}
.dashboard .sessions__item__status {
  text-align: center;
  color: #59748a;
  font-size: 12px;
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  .dashboard .sessions__item__status {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard .sessions__item__status {
    font-size: 16px;
  }
}
.dashboard .sessions__item__metrics {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.dashboard .sessions__item__metric {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.dashboard .sessions__item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background: #eef7fe;
}
.dashboard .sessions__item__icon svg {
  width: 24px;
  height: 24px;
}
.dashboard .sessions__item__value {
  text-align: center;
  color: #59748a;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  .dashboard .sessions__item__value {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard .sessions__item__value {
    font-size: 18px;
  }
}
.dashboard .sessions__item__label {
  text-align: center;
  color: #59748a;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 1440px) {
  .dashboard .sessions__item__label {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard .sessions__item__label {
    font-size: 18px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100dvw;
}

@media screen and (min-width: 1500px) {
  .dashboard .sessions {
    gap: 30px;
  }
  .dashboard .sessions__item__icon {
    width: 45px;
    height: 45px;
  }
  .dashboard .sessions__item__icon svg {
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard .metrics__item:nth-child(3) .metrics__item__chart img {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .dashboard .metrics__item {
    padding: 28px;
    padding-bottom: 24px;
  }
  .dashboard .metrics__item__chart {
    height: 100px;
  }
  .dashboard .metrics__item__chart img {
    max-width: none;
  }
  .dashboard .metrics__item:nth-child(1) .metrics__item__chart img {
    width: 60%;
  }
  .dashboard .metrics__item:nth-child(2) .metrics__item__chart img {
    width: 80%;
  }
}
@media screen and (min-width: 1920px) {
  .dashboard {
    gap: 5%;
  }
  .dashboard__search {
    grid-template-columns: 36px 1fr;
    width: min(60%, 1000px);
  }
  .dashboard__search-button {
    width: 36px;
    height: 36px;
  }
  .dashboard .metrics {
    gap: 70px;
  }
  .dashboard .metrics__item {
    padding-bottom: 50px;
  }
  .dashboard .metrics__item:nth-child(3) .metrics__item__chart img {
    width: 30%;
  }
  .dashboard .sessions {
    gap: 35px;
  }
  .dashboard .sessions__item__title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: auto;
  }
  .dashboard .sessions__item__status {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: auto;
  }
  .dashboard .sessions__item__icon {
    width: 60px;
    height: 60px;
  }
  .dashboard .sessions__item__icon svg {
    width: 26px;
    height: 26px;
  }
}
body {
  color: #FFFFFF;
  overflow: hidden;
}

html {
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 #f5f5f5;
}/*# sourceMappingURL=main.css.map */