@import './functions';
@import './mixins';

.dashboard{
    width: calc(100vw - var(--sidebar-info-width));
    height: 100dvh;
    background: secondary-color('lightest');
    border-radius: 51px;
    overflow-y: auto;
    z-index: 0;

    &::-webkit-scrollbar{
        display: none;
    }

    &__content{
        width: min(95%, 1500px);
        padding: 70px 0 70px 150px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 40px;
    }

    &__search{
        align-self: flex-start;
        display: grid;
        grid-template-columns: 24px 1fr;
        gap: 6px;
        width: 514px;
        padding-bottom: 8px;
        border-bottom: 2px solid #d4e3f0d9;
        margin-bottom: 20px;

        &-button{
            @include resetButton;
            width: 24px;
            height: 24px;
            padding: 4px;
        }

        &-input{
            width: 100%;
            outline: 0;
            border: 0;
            background: transparent;
            font-weight: 500;
            @include font-size-sm;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &::placeholder{
                color: #85a5c2;
            }
        }
    }

    .metrics{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    
        &__item{
            width: 100%;
            aspect-ratio: 3/2;
            border-radius: 16px;
            padding: 24px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
    
            &__title{
                @include font-size-xs;
                font-weight: 500;
                margin-bottom: 6px;
            }
    
            &__value{
                @include font-size-sm;
                font-weight: 700;
                margin-bottom: 4px;
            }
    
            &__chart{
                flex: 1;
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                img{
                    max-width: 190px;
                }
            }
    
            &--concentration{
                background: #5fa1da;
            }
    
            &--stress{
                background: #c5b5f5;
            }
    
            &--activity{
                background: #eeadc4;
            }
        }
    }
    
    .heart-rate{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    
        &__item{
            width: 100%;
            aspect-ratio: 1.4;
            border-radius: 16px;
            padding: 24px;
            padding-bottom: 20px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            background: neutral-color(0);
            display: flex;
            flex-direction: column;
    
            &__title{
                color: #85a5c2;
                @include font-size-sm;
                font-weight: 500;
                margin-bottom: 10px;
            }
    
            &__value{
                color: #59748a;
                @include font-size-xs;
                font-weight: 700;
                margin-bottom: 8px;
            }
    
            &__chart{
                flex: 1;
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                img{
                    max-width: 100%;
                }
            }
        }
    }
    
    .sessions{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    
        &__item{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            width: 100%;
            aspect-ratio: 1.98;
            border-radius: 16px;
            padding: 24px;
            padding-bottom: 20px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            background: neutral-color(0);
    
            &__header{
                display: flex;
                align-items: center;
                gap: 60px;
                margin-bottom: 10px;
            }
    
            &__title{
                width: 100px;
                text-align: center;
                color: #85a5c2;
                @include font-size-sm;
                font-weight: 500;
                line-height: 24px;
            }
    
            &__status{
                text-align: center;
                color: #59748a;
                @include font-size-xs;
                font-weight: 700;
            }
    
            &__metrics{
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;
            }
    
            &__metric{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
            }
    
            &__icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                padding: 10px;
                border-radius: 10px;
                background: #eef7fe;

                svg{
                    width: 24px;
                    height: 24px;
                }

            }
    
            &__value{
                text-align: center;
                color: #59748a;
                @include font-size-sm;
                font-weight: 700;
            }
    
            &__label{
                text-align: center;
                color: #59748a;
                @include font-size-sm;
                font-weight: 500;
            }
        }
    }
}

.container{
    display: flex;
    width: 100dvw;
}

@media screen and (max-width: 900px){
    .dashboard{
        .metrics{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 1140px){
    .dashboard{
        .metrics{
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            &__item{
                max-width: 350px;
                &:nth-child(3){
                    .metrics__item__chart{
                        img{
                            width: 30%;
                        }
                    } 
                }
            }
        }

        
    }
}

@media screen and (min-width: 1500px){
    .dashboard{
        .sessions{
            gap: 30px;

            &__item{

                &__icon{
                    width: 45px;
                    height: 45px;

                    svg{
                        width: 18px;
                        height: 18px;
                    }
                }

            }
        }
    }
}

@include media-desktop{
    .dashboard{
        .metrics{
            &__item{
                &:nth-child(3){
                    .metrics__item__chart{
                        img{
                            width: 40%;
                        }
                    } 
                }
            }
        }
    }
}

@include media-large-desktop{
    .dashboard{
        .metrics{
            &__item{
                padding: 28px;
                padding-bottom: 24px;
                &__chart{
                    height: 100px;
                    img{
                        max-width: none;
                    }
                }
    
                &:nth-child(1){
                    .metrics__item__chart{
                        img{
                            width: 60%;
                        }
                    } 
                }
    
                &:nth-child(2){
                    .metrics__item__chart{
                        img{
                            width: 80%;
                        }
                    } 
                }
            }
        }
    }
}

@include media-xl-desktop{
    .dashboard{
        gap: 5%;
        
        &__search{
            grid-template-columns: 36px 1fr;
            width: min(60%, 1000px);
            
            &-button{
                width: 36px;
                height: 36px;
            }
        }

        .metrics{
            gap: 70px;
            &__item{
                padding-bottom: 50px;

                &:nth-child(3){
                    .metrics__item__chart{
                        img{
                            width: 30%;
                        }
                    } 
                }
                
            }    
        }

        .sessions{
            gap: 35px;
            &__item{
                
                &__title{
                    flex: 1;
                    margin-left: auto;
                }

                &__status{
                    flex: 1;
                    margin-left: auto;
                }

                &__icon{
                    width: 60px;
                    height: 60px;

                    svg{
                        width: 26px;
                        height: 26px;
                    }
                }

            }
        }
    }
}

@include media-tablet{
    .dashboard{
        width: 100%;
        border-radius: 0;
        &__content{
            width: 100%;
            padding-right: 45px;
        }

        .metrics{
            &__item{
                &:nth-child(3){
                    .metrics__item__chart{
                        img{
                            width: 30%;
                        }
                    } 
                }
            }
        }

        .heart-rate{
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            &__item{
                max-width: 500px;
            }
        }

        .sessions{
            grid-template-columns: none;
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            &__item{
                max-width: 500px;
            }
        }
    }
}

@media screen and (max-width: 850px){
    .dashboard{
        .heart-rate{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media screen and (max-width: 715px){
    .dashboard{
        &__search{
            width: 90%;

            &-input{
                font-size: 12px;
            }
        }

        .metrics{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@include media-mobile{
    .dashboard{
        border-radius: 0;
        &__content{
            width: 100%;
            padding: 100px 50px 50px 50px;
        }

        &__search{
            width: 100%;
        }

        .metrics{
            grid-template-columns: repeat(1, 1fr);

            &__item{
                max-width: 400px;
                &:nth-child(3){
                    .metrics__item__chart{
                        img{
                            width: 30%;
                        }
                    } 
                }
            }
        }

        .heart-rate{
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;

            &__item{
                max-width: 500px;
                aspect-ratio: unset;
            }
        }

        .sessions{
            grid-template-columns: none;
            grid-template-rows: repeat(1, 1fr);
            justify-items: center;
            &__item{
                max-width: 500px;

                &__header{
                    flex-direction: column;
                    gap: 30px;
                }

                &__title{
                    width: 100%;
                }

                &__status{
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    .dashboard{
        .sessions{
            &__item{
                aspect-ratio: unset;
                gap: 20px;
                &__metrics{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: 16px;
                }
            }
        }
    }
}