@import './resets';
@import './variables';
@import './animations';
@import './functions';
@import './mixins';
@import './panel-elements';
@import './dashboard';


body{
    color: neutral-color(0);
    overflow: hidden;
}

html {
    overflow: hidden;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 #f5f5f5;
}